 {% extends "gpsarchive/base.html"%}
    {%block content%}
    <div class='container'>
        <h1>ARCHIWUM GPS</h1>
    </div>

    <div class="container">

                <div class="col-md-6">
                        <p>Aplikacja webowa służąca do archwizowania plików w formacie GPX. Projekt jest częścią pracy inżynierskiej "Aplikacja webowa wspomagająca analizę lotu na podstawie śladu GPS" napisanej przez Michela Liberę. Funkcje </p>
                    <div class="textbox">
                        <ul class="liststyle1">
                            <li> <span style="font-size: 15px" class="glyphicon glyphicon-play-circle"></span> Rejestracja/Logowanie.</li>
                            <li> <span style="font-size: 15px" class="glyphicon glyphicon-play-circle"></span> Przesłanie pliku GPS zawierającego trajektorię lub trasę.</li>
                            <li> <span style="font-size: 15px" class="glyphicon glyphicon-play-circle"></span> Wyświetlenie widoku szczegółowego.</li>

                    </div>
                </div>
            
     </div>
        
    {%endblock content%}
